.air-datepicker-body--day-names .air-datepicker-body--day-name {
  color: #ff7518;
}

.air-datepicker-cell.-day-.-current- {
  color: #0d6efd;
}

.air-datepicker-cell.-day-.-current-.-selected- {
  background-color: #ff7518;
}

.air-datepicker-cell.-day-.-current-.-selected-.-focus- {
  background-color:#c27402;
}

.air-datepicker-cell.-day-.-selected- {
  background-color: #0d6efd;
}

.air-datepicker-cell.-day-.-selected-.-focus- {

  background-color: #0256d3;
}
