<h1>Приветствуем Вас!</h1>

<p>Текущий курс доллара:</p>

<p style="color: red;">
  <span id="exchange-rate">
    <%= @current_rate if @current_rate %>
  </span>
</p>

<%= link_to 'Ввести форсированный курс', admin_path %>
